<div class="container">
  <div class="jumbotron">
    <h1>DOJO EMBER</h1> 
    <ul>
        <li>Camilo Pérez Vélez</li>
        <li>Johnatan Arcila Garcés</li>
        <li>Daniel Molina Yepes</li>
        <li>Julián David Quiroz Arboleda</li>
    </ul>
    <p>Elementos del Dojo</p>
    <ul>
        <li>Creación de rutas y controllers</li>
        <li>Uso de AJAX para hacer peticiones HTTP</li>
        <li>Visualizar los post que ofrece un API</li>
        <li>Ver en detalle los post</li>
        <li>Hacer un crud con cada post</li>
    </ul> 
    <p>Ejercicio propuesto</p>
    <ul>
        <li>Creación de rutas y controllers para ver los usuarios</li>
        <li>Uso de AJAX para hacer peticiones HTTP</li>
        <li>Crear vista para mostrar todos los usuarios</li>
        <li>Ver los post que ha publicado un usuario</li>
        <li>Hacer un crud con cada post</li>
    </ul> 
  </div>
  {{#link-to 'list' class="btn btn-success"}}Ver Lista Posts{{/link-to}}
  {{#link-to 'users' class="btn btn-success"}} Ver Lista Usuarios{{/link-to}}
  
  <p>Documentación de API <a href="https://jsonplaceholder.typicode.com/">AQUI</a></p> 
  
</div>
{{outlet}}
